In [4]:
%matplotlib inline 
import torch
from torch import nn, optim
import torch.nn.functional as F
from torch.utils import data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from glob import glob

In [3]:
df_submission = pd.read_csv("../dataset/sample_submission.csv", header = 0)
df_submission

   subject_id  sex
0   A00062361    0
1   A00039143    0
2   A00031605    0
3   A00037848    0
4   A00060264    0
..        ...  ...
76  A00039075    0
77  A00037768    0
78  A00058621    0
79  A00033903    0
80  A00073600    0

[81 rows x 2 columns]

In [5]:
for path in glob('F:/labcompe/2021compe_NKI/predicted_label/*.csv'):
    df_predicted = pd.read_csv(path, header = 0)
    df_submission['sex'] += df_predicted['sex']
df_submission

   subject_id       sex
0   A00062361  2.587972
1   A00039143  4.520004
2   A00031605  4.980343
3   A00037848  0.084765
4   A00060264  4.958654
..        ...       ...
76  A00039075  0.039647
77  A00037768  4.943668
78  A00058621  4.918760
79  A00033903  4.963056
80  A00073600  4.537152

[81 rows x 2 columns]

In [11]:
# 平均を予測ラベルとする
print(len(glob("F:/labcompe/2021compe_NKI/predicted_label/*.csv")))
df_submission['sex'] = df_submission['sex'] / len(glob("F:/labcompe/2021compe_NKI/predicted_label/*.csv"))
df_submission['sex']

5

0     0.517594
1     0.904001
2     0.996069
3     0.016953
4     0.991731
        ...
76    0.007929
77    0.988734
78    0.983752
79    0.992611
80    0.907430
Name: sex, Length: 81, dtype: float64

In [ ]:
df_submission.to_csv("F:/labcompe/2021compe_NKI/submission_2nd/Shimo.csv")